<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="org.study.trade.commodity.mapper.CommodityDataMapper">

  <resultMap id="BaseResultMap" type="org.study.trade.commodity.mapper.data.CommodityData">
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="shop_id" jdbcType="BIGINT" property="shopId" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="price" jdbcType="DECIMAL" property="price" />
    <result column="version" jdbcType="BIGINT" property="version" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="Base_Column_List">
    id, shop_id, name, price, version, create_time, update_time
  </sql>

  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from commodity
    where id = #{id,jdbcType=INTEGER}
  </select>

  <select id="batchByPrimaryKey" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List" />
    FROM commodity
    WHERE id IN
    <foreach collection="idList" item="id" open="(" close=")" separator=",">
      #{id}
    </foreach>
  </select>

  <select id="selectByIdAndVersion" resultMap="BaseResultMap">
    SELECT
    <include refid="Base_Column_List"/>
    FROM `commodity_snapshot`
    WHERE `id` = #{id} AND `version` = #{version}
  </select>

  <delete id="deleteByKeyAndShopId">
    delete from commodity
    where id = #{id,jdbcType=INTEGER} AND shop_id = #{shopId}
  </delete>

  <delete id="deleteSnapshotByPrimaryKey">
    delete from commodity_snapshot
    where id = #{id,jdbcType=INTEGER} AND version = #{version}
  </delete>

  <insert id="insertSnapshot" parameterType="org.study.trade.commodity.mapper.data.CommodityData">
    insert into commodity_snapshot
    (id, shop_id, name, price, version)
    values (
      #{id,jdbcType=BIGINT}, #{shopId,jdbcType=BIGINT}, #{name,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL},
      #{version,jdbcType=BIGINT}
    )
  </insert>

  <insert id="insertSelective" parameterType="org.study.trade.commodity.mapper.data.CommodityData"
          useGeneratedKeys="true" keyProperty="id">
    insert into commodity
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="shopId != null">
        shop_id,
      </if>
      <if test="name != null">
        name,
      </if>
      <if test="price != null">
        price,
      </if>
      <if test="version != null">
        version,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=BIGINT},
      </if>
      <if test="shopId != null">
        #{shopId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="version != null">
        #{version,jdbcType=BIGINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

  <update id="updateByPrimaryKeySelective" parameterType="org.study.trade.commodity.mapper.data.CommodityData">
    UPDATE commodity
    <set>
      <if test="version != null">
        version = #{version,jdbcType=BIGINT} + 1,
      </if>
      <if test="shopId != null">
        shop_id = #{shopId,jdbcType=BIGINT},
      </if>
      <if test="name != null">
        name = #{name,jdbcType=VARCHAR},
      </if>
      <if test="price != null">
        price = #{price,jdbcType=DECIMAL},
      </if>
    </set>
    WHERE id = #{id,jdbcType=BIGINT} AND version = #{version}
  </update>

  <update id="updateByPrimaryKey" parameterType="org.study.trade.commodity.mapper.data.CommodityData">
    update commodity
    set shop_id = #{shopId,jdbcType=BIGINT},
      name = #{name,jdbcType=VARCHAR},
      price = #{price,jdbcType=DECIMAL},
      version = #{version,jdbcType=BIGINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=BIGINT}
  </update>
</mapper>